/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: url('/assets/food.png');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans",
  "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation
  Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial,
  sans-serif;
}

.navbar.navbar-inverse {
  background:url('/assets/nav.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.cool-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}
