/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Cabin);

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: url('/assets/food.png');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans",
  "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation
  Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial,
  sans-serif;
}

.navbar.navbar-inverse {
  background:url('/assets/nav.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #FAC564;
  font-family: Cabin;
  font-size: 175%;
  font-weight: 600;
}

.cool-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}

#pag{
  height:50px;
  width:15%;
  margin: 0 auto;
}

.digg_pagination {
  cursor: default;
  margin: 0 auto;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px
    solid #2e6ab1; }
  .digg_pagination
  a {
    text-decoration:
    none;
    color:
    #105cb6;
    border:
    1px
    solid
    #9aafe5;
}
.digg_pagination
a:hover,
.digg_pagination
a:focus
{
  color:
  #000033;
  border-color:
  #000033;
}
.digg_pagination
.page_info
{
  background:
  #2e6ab1;
  color:
  white;
  padding:
  0.4em
  0.6em;
  width:
  22em;
  margin-bottom:
  0.3em;
  text-align:
  center;
}
.digg_pagination
.page_info
b
{
  color:
  #000033;
  background:
  #6aa6ed;
  padding:
  0.1em
  0.25em;
}
.digg_pagination:after
{
  content:
  ".";
  display:
  block;
  height:
  0;
  clear:
  both;
  visibility:
  hidden;
}
* html
* .digg_pagination
* {
  height:
  1%;
}
*:first-child
+
html
.digg_pagination
{
  overflow:
  hidden;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}
